# Xcode
#
# It is better to be used with other `.gitignore` files for specific platforms.
# Check https://github.com/github/gitignore/blob/master/Global/Xcode.gitignore

## User settings
xcuserdata/

## Compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint

## Compatibility with Xcode 3.1 and earlier (ignoring not required starting Xcode 3.2)
build/
DerivedData/

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/

# Carthage
/Carthage/Build

# Swift Package Manager
/.build/

# fastlane
/.fastlane/report.xml
/.fastlane/Preview.html
/.fastlane/screenshots
/.fastlane/test_output

*.swiftdoc
*.swiftmodule
